body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.476);
  }
  
  input[type="text"] {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 10px;
    width: 300px;
  }
  
  #addBtn {
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #taskStatus {
    margin-top: 20px;
    text-align: center;
  }
  
  #error-message {
    color: red;
  }
  
  #success-message {
    color: green;
  }
  
  #task {
    margin-top: 20px;
    width: 500px;
  }
  
  .event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .edit-delete {
    display: flex;
  }
  
  #edit-btn {
    background-color: #2196f3;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
  }
  
  #edit-btn:hover {
    background-color: #0b7dda;
  }
  
  #delete-btn {
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
  }
  
  #delete-btn:hover {
    background-color: #d32f2f;
  }


  /* Styles for mobile */
@media only screen and (max-width: 600px) {
    input[type="text"] {
      width: 90%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    #delete-btn,  #edit-btn {
      width: 100%;
    }
  
    #task {
      width: 90%;
    }
  }